mat-card {
  width: 300px;
  margin: 10px;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
}

mat-card-content {
  min-height: 50px;
}

::ng-deep .mat-card-header-text {
  align-self: flex-end;
}
